In [2]:
# Importação das bibliotecas necessárias para o desafio
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# Dicionário de faturamento proposto
dict_faturamento = {
    'data_ref': [
        '2023-01-01', 
        '2020-02-01', 
        '2021-03-01', 
        '2022-04-01', 
        '2023-05-01',
        '2023-06-01', 
        '2020-07-01', 
        '2021-08-01', 
        '2022-09-01', 
        '2023-10-01',
        '2022-11-01', 
        '2023-12-01'
    ],
    'valor': [
        400000, 
        890000, 
        760000, 
        430000, 
        920000,
        340000, 
        800000, 
        500000, 
        200000, 
        900000,
        570000, 
        995000
    ]
}

In [4]:
# Verificação se o dicionário foi criado corretamente
dict_faturamento

{'data_ref': ['2023-01-01',
  '2020-02-01',
  '2021-03-01',
  '2022-04-01',
  '2023-05-01',
  '2023-06-01',
  '2020-07-01',
  '2021-08-01',
  '2022-09-01',
  '2023-10-01',
  '2022-11-01',
  '2023-12-01'],
 'valor': [400000,
  890000,
  760000,
  430000,
  920000,
  340000,
  800000,
  500000,
  200000,
  900000,
  570000,
  995000]}

In [5]:
# Converter o dicionário em um DataFrame para que possamos realizar a análise
df_faturamento = pd.DataFrame.from_dict(dict_faturamento)

In [6]:
# Verificação se o dicionário foi criado corretamente;
# Inicializei o DataFrame por completo por causa da baixa quantidade de dados
df_faturamento

      data_ref   valor
0   2023-01-01  400000
1   2020-02-01  890000
2   2021-03-01  760000
3   2022-04-01  430000
4   2023-05-01  920000
5   2023-06-01  340000
6   2020-07-01  800000
7   2021-08-01  500000
8   2022-09-01  200000
9   2023-10-01  900000
10  2022-11-01  570000
11  2023-12-01  995000

In [7]:
# Obtendo informações sobre o tipo de dados que temos no DataFrame
df_faturamento.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   data_ref  12 non-null     object
 1   valor     12 non-null     int64
dtypes: int64(1), object(1)
memory usage: 320.0+ bytes

In [8]:
# Os dados da coluna 'data_ref' estão no formato object, sendo necessário converter o campo para datetime, necessário para a nossa análise
# A conversão abaixo irá realizar a mudança da coluna para datetime
df_faturamento['data_ref'] = pd.to_datetime(df_faturamento['data_ref'])

In [9]:
# Como podemos visualizar, o campo foi alterado corretamente
df_faturamento.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   data_ref  12 non-null     datetime64[ns]
 1   valor     12 non-null     int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 320.0 bytes

## Média de Faturamento

In [ ]:
# Utilizei o mean para verificar a média de faturamento e formatei o print com 2 casas decimais
media_faturamento = df_faturamento.valor.mean()
print(f'$ {media_faturamento:.2f}')

$ 642083.33